# .gitignore

# Ignore local bench, which is a volume mount
/frappe-bench/

# Ignore local environment file changes
.env.local

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store